<!-- myapp/templates/myapp/dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ dashboard.title }}</title>
</head>
<body>
    <h1>{{ dashboard.title }}</h1>
    <div id="reportContainer" style="height: 800px; width: 1500px;"></div>
    <script>
       function _0x143c(_0x29cd0b, _0x146f72) {
    var _0x331c0b = _0x331c();
    return _0x143c = function (_0x143ca3, _0x48f57f) {
        _0x143ca3 = _0x143ca3 - 0x1a7;
        var _0x3d788f = _0x331c0b[_0x143ca3];
        return _0x3d788f;
    }, _0x143c(_0x29cd0b, _0x146f72);
}

function _0x331c() {
    var _0x274551 = ['DOMContentLoaded', 'DcwZC04Njc5LTVhNmE3NjFhOGQ0YyIsImMiOjl9', '156192XcSCwU', 'frameBorder', 'ctNDZiMC00MDE2LTliMmUtZDVjZDEzMmI2YjdiIiwidCI6IjA1NTgwMWU2LTQyZjAtN', '134146mdIuPE', 'src', '384CmfmnC', '1500', '1938845RZkcYf', 'allowFullScreen', 'https://app.powerbi.com/view?', '27eBBbKa', 'getElementById', 'reportContainer', 'createElement', '84532KsupyP', '15NCfEiP', '1538640kDraJU', 'title', 'appendChild', '800', '545654bXqVcf', '550640XfJDgR'];
    _0x331c = function () {
        return _0x274551;
    };
    return _0x331c();
}

var _0x3d3767 = _0x143c;

(function (_0x58f2d6, _0x496760) {
    var _0x3512b0 = _0x143c,
        _0x2fdf73 = _0x58f2d6();
    while (!![]) {
        try {
            var _0x638b51 = -parseInt(_0x3512b0(0x1ba)) / 0x1 + parseInt(_0x3512b0(0x1a9)) / 0x2 * (parseInt(_0x3512b0(0x1b5)) / 0x3) + -parseInt(_0x3512b0(0x1bb)) / 0x4 + -parseInt(_0x3512b0(0x1ad)) / 0x5 + parseInt(_0x3512b0(0x1be)) / 0x6 + parseInt(_0x3512b0(0x1b4)) / 0x7 * (parseInt(_0x3512b0(0x1ab)) / 0x8) + parseInt(_0x3512b0(0x1b0)) / 0x9 * (parseInt(_0x3512b0(0x1b6)) / 0xa);
            if (_0x638b51 === _0x496760) break;
            else _0x2fdf73['push'](_0x2fdf73['shift']());
        } catch (_0x39cf56) {
            _0x2fdf73['push'](_0x2fdf73['shift']());
        }
    }
}(_0x331c, 0x50f22), document['addEventListener'](_0x3d3767(0x1bc), function () {
    var _0x2193a8 = _0x3d3767,
        _0x3e4c07 = document[_0x2193a8(0x1b3)]('iframe');
    _0x3e4c07['title'] = 'conn_yandex';
    _0x3e4c07['width'] = '1500';
    _0x3e4c07['height'] = '800';
    var _0xa69967 = _0x2193a8(0x1af),
        _0x722eee = 'r=eyJrIjoiODJkYmE0MD',
        _0x28de44 = _0x2193a8(0x1a8),
        _0x2b04fd = _0x2193a8(0x1bd);
    _0x3e4c07['src'] = _0xa69967 + _0x722eee + _0x28de44 + _0x2b04fd;
    _0x3e4c07['frameBorder'] = '0';
    _0x3e4c07['allowFullScreen'] = !![];
    document[_0x2193a8(0x1b1)](_0x2193a8(0x1b2))[_0x2193a8(0x1b8)](_0x3e4c07);
}));

    </script>
</body>
</html>
